# ---- CMake
**/CMakeCache.txt
**/CMakeFiles/
**/CMakeScripts/
**/Testing/
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/CTestTestfile.cmake
**/compile_commands.json
**/CMakeUserPresets.json
**/_deps/

# ---- Common build dirs
build/
out/

# ---- IDEs
.vscode/

# ---- Binaries (safety net)
*.exe
*.dll
*.so
*.dylib

# ---- CLion (optional)
# cmake-build-*
